
<h3>{{form.formTitle}}</h3>
<form class="row g-3" [formGroup]="dynamicFormGroup">
   <ng-container *ngFor="let control of form.FormControls" >
    <div *ngIf="['text','email', 'password', 'number', 'date'].includes(control.type)" [class]="control.class">
        <label class="form-label">{{control.label}}</label>
        <input formControlName="{{control.name}}" class="form-control" [type]="control.type">
    </div>
    <div *ngIf="control.type === 'select' "[class]=control.class >
        <label class="form-label">{{control.label}}</label>
        <select class="form-select" formControlName="{{control.name}}">
            <option selected value="" >Choose..</option>
            <ng-container *ngFor="let opt of control.options" >
                <option [value]="opt.value">{{opt.value}}</option>
            </ng-container>
        </select>
    </div>
    <div *ngIf="control.type === 'radio' "[class]=control.class >
        <label class="form-label">{{control.label}}</label>
        <ng-container *ngFor="let row of control.radioOptions" >
            <div class="form-check">
                <input type="radio" formControlName = "{{control?.name}}" [value]="row" class="form-check-input" >
                <label class="form-check-label" [for]="control.name">
                    {{row}}
                </label>
            </div>
        </ng-container>
    </div>
   </ng-container>
   <button (onSubmit)="onSubmit()" type="submit" class="btn btn-primary mx-2">{{form.saveBtnTitle}}</button>
   <button (onSubmit)="resetForm()" type="submit" class="btn btn-primary mx-2">{{form.resetBtnTitle}}</button>
  </form>